﻿body {
    margin: 0 auto;
    min-width: 320px;
    max-width: 480px;
}
a:link,a:visited{ font-style: normal;}
img {
    border: 0 none;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}
.header {
    background:#6ac134;
    height: 60px;
    position: relative;
    width: 100%;
}
.header .title {
    line-height: 1.5em;
    text-align: center;
    font-size: 1.5em;
    color: #fff;
    vertical-align: middle;
    padding: 0.7em 0px;
    font-family: "微软雅黑";
    max-width: 200px;
    width: 200px;
    margin: 0px auto;
    overflow: hidden;
    height: 22px;
}
.header .home{    color: #FFFFFF;
    display: block;
    left: 0;
    padding: 13px 20px;
    position: absolute;}
.header .back{    color: #FFFFFF;
    display: block;
    right: 0px;
    top: 0px;
    padding: 13px 20px;
    position: absolute;}
.header .header-icon {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: block;
    height: 22px;
    margin: 0 auto;
    width: 22px;
}
.header .header-icon-home {
    background-image: url("../images/icon_home.png");
}

.header .header-icon-return {
    background-image: url("../images/icon_return.png");
}
.container{  margin: 0 auto;min-height: 300px; width: 100%}
.width90{width: 90%}
.width80{width: 80%}
.width100{width: 100%}
 .pt20{ padding-top: 20px;}
.fl{ float: left;}
.fr{ float: right;}
.none{ display: none;}

.tab-pane{display: none}
.active{ display: block;}
.button{display:inline-block;text-align:center;font:bold 16px/25px Arial;text-shadow: 1px 1px 1px rgba(0,0,0, .22);-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
.green{color:#fff;background:#96DC01;border:none 0;/* Old browsers */ 
background:-moz-linear-gradient(top,  #96DC01 0%, #5BAF00 100%); /* FF3.6+ */ 
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#96DC01), color-stop(100%,#5BAF00)); 
background:-webkit-linear-gradient(top,  #96DC01 0%,#5BAF00 100%);/* Chrome10+,Safari5.1+ */ 
background:-o-linear-gradient(top,  #96DC01 0%,#5BAF00 100%); /* Opera 11.10+ */ 
background:-ms-linear-gradient(top,  #96DC01 0%,#5BAF00 100%); /* IE10+ */ 
background:linear-gradient(top,  #96DC01 0%,#5BAF00 100%); /* W3C */ }

.orange1{color:#fff;background:#f77f1b;border:none 0;/* Old browsers */ 
background:-moz-linear-gradient(top,  #ffa409 0%, #f77f1b 100%); /* FF3.6+ */ 
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffa409), color-stop(100%,#f77f1b)); 
background:-webkit-linear-gradient(top,  #ffa409 0%,#f77f1b 100%);/* Chrome10+,Safari5.1+ */ 
background:-o-linear-gradient(top,  #ffa409 0%,#f77f1b 100%); /* Opera 11.10+ */ 
background:-ms-linear-gradient(top,  #ffa409 0%,#f77f1b 100%); /* IE10+ */ 
background:linear-gradient(top,  #ffa409 0%,#f77f1b 100%); /* W3C */ }
 
.Gray{color:#fff;background:#43474A;border:none 0;/* Old browsers */ 
background:-moz-linear-gradient(top,  #43474A 0%, #030303 100%); /* FF3.6+ */ 
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#43474A), color-stop(100%,#030303)); 
background:-webkit-linear-gradient(top,  #43474A 0%,#030303 100%);/* Chrome10+,Safari5.1+ */ 
background:-o-linear-gradient(top,  #43474A 0%,#030303 100%); /* Opera 11.10+ */ 
background:-ms-linear-gradient(top,  #43474A 0%,#030303 100%); /* IE10+ */ 
background:linear-gradient(top,  #43474A 0%,#030303 100%); /* W3C */ } 
.button:hover{-webkit-box-shadow: 1px 1px 1px rgba(0,0,0,.29), inset 0px 0px 2px rgba(0,0,0, .5);  
-moz-box-shadow:1px 1px 1px rgba(0,0,0,.29), inset 0px 0px 2px rgba(0,0,0, .5);  
box-shadow:1px 1px 1px rgba(0,0,0,.29), inset 0px 0px 2px rgba(0,0,0, .5);}  
.button:active{-webkit-box-shadow:inset 0px 0px 3px rgba(0,0,0, .8);
-moz-box-shadow:inset 0px 0px 3px rgba(0,0,0, .8);
box-shadow:inset 0px 0px 3px rgba(0,0,0, .8);} 

.input{    background: none repeat scroll 0 0 #F9F9F9;padding: 3px;}
.footer{  margin: 10px auto 0px;text-align: center;}
.servIco {
    background: url("../images/share-icon.png") no-repeat scroll 0 0 transparent;
    display: inline-block;
    height: 32px;
    vertical-align: text-bottom;
    width: 33px;
    margin-top: 10px;
    margin-right: 20px;
}
.ico_qq {
    background-position: -53px 0;
}
.ico_sina {
    background-position: 0 0;
}

.checkbox {
    width: 100px;
    padding-left: 0px;
}
.checkbox input {
    vertical-align:top;
}
.hotel-bar {
    height: 2.9em;
    overflow: hidden;
    border-left: 1px solid #C5C5C5;
}
.hotel-bar li {
    color: #027160;
    display: inline-block;
    float: left;
    height: 2.8em;
    line-height: 2.8em;
    position: relative;
    text-align: center;
    width: 25%;
    cursor: pointer;
    
}
.order-bar li {
    width: 33.33%;
}
.hotel-bar li a {
    border: 1px solid #C5C5C5;
    border-width: 0px 1px 1px 0px;
    display: block;
    color: #666;
    width: 100%;
}
.hotel-bar  a.active{
    background:#32B16C;
    color: #FFFFFF;
  
}
.orange{ 
    color: #EB6100;
    font-size: 1.2em;
    font-style: normal;
}

.roomprice {
    margin-right: 5px;
    line-height: 20px;
    display: inline-block
}
.roomlist li {
    
    border-bottom: 1px solid #DADADA;
    clear: both;
    height: 100%;
    overflow: hidden;
    padding: 15px 10px;
}
.roomlist li .roomtitle {
    height: 35px; display: block;
}
.roomlist .roomname {
     color: #60AB2B;
      font-size: 1.2em;
    margin-top: 2px;
    font-weight: bold;
    display: inline-block;
}
.roomlist li .roompic {
    margin-right: 5px;width: 90px;height: 70px;
}
.hotel-prompt{
    clear: both;
    margin: 20px 5px;
}
.hotel-prompt-title{
    background:#6ac134;
    color: #FFFFFF;
    display: block;
    font-size: 1em;
    height: 29px;
    line-height: 29px;
    text-align: center;
    width: 100px;
}

.hotel-prompt p{
    color: #707070;
    font-size: 1em;
    line-height: 1.5em;
    margin: 10px 10px 0;
}

.detail-time-bar,.detail-address-bar {
    font-size: 16px;
    padding: 2px 5px 10px;
    color: #626262;
     border-bottom: 1px solid #C5C5C5;
}
.detail-time-bar img,.detail-address-bar img {
    margin-right:10px;
    position: relative;
    width: 30px;
    top: 8px;
    display: inline-block;
    vertical-align:top;
}
.detail-time-bar p,.detail-address-bar p{
margin-top: 10px;display: inline-block;max-width: 260px;
}


.search-group li {
    border-bottom: 1px dashed #CBCFCF;
    height: 100%;
    line-height: 28px;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.location-search-div, .location-search-list-div, .name-search-div, .name-search-list-div, .time-search, .coupon-nav {
    margin: 2px 0;
    padding: 10px 3px;
}
.search-group .search-icon {
    float: left;
    height: 26px;
    width: 26px;
 
}
.search-group .coupon-icon0 {
    background: url("../images/calendar.png") no-repeat scroll 0 0 transparent;
    background-size: contain;
}
.search-group .coupon-icon1 {
    background: url("../images/coupon_icon1.png") no-repeat scroll 0 0 transparent;
    background-size: contain;
}
.search-group .coupon-icon2 {
    background: url("../images/coupon_icon2.png") no-repeat scroll 0 0 transparent;
    background-size: contain;
}
.search-group .coupon-icon3 {
    background: url("../images/coupon_icon3.png") no-repeat scroll 0 0 transparent;
    position: relative;
    top: 5px;
    background-size: contain;
}
.search-group .coupon-icon4 {
    background: url("../images/coupon_icon4.png") no-repeat scroll 0 0 transparent;
    background-size: contain;
    position: relative;
    top: 5px;
}
.search-group .coupon-icon5 {
    background: url("../images/coupon_icon5.png") no-repeat scroll 0 0 transparent;
    background-size: contain;
    position: relative;
    top: 5px;
}
.search-group .coupon-icon6 {
    background: url("../images/coupon_icon6.png") no-repeat scroll 0 0 transparent;
    background-size: contain;
    position: relative;
    top: 5px;
}
.search-group .coupon-icon7 {
    background: url("../images/coupon_icon7.png") no-repeat scroll 0 0 transparent;
    background-size: contain;
    position: relative;
    top: 5px;
}

.search-group .time-icon {
    background: url("../images/time_icon.png") no-repeat scroll 0 0 transparent;
     background-size: contain;
     position: relative;
    top: 5px;
}

.search-group .location-icon {
    background: url("../images/location_icon.png") no-repeat scroll 0 0 transparent;
    background-size: contain;
    position: relative;
    top: 5px;
}
.coupon-nav-style {
    height: 100%;
    overflow: hidden;
    padding: 6px 0;
}
.coupon-label {
    color: #898989;
    float: left;
    font-size: 1em;
    height: 2.6em;
    line-height: 2.6em;
    margin: 0 4px;
    padding-left: 10px;
    text-align: left;
    width: 30%;
}

.coupon-money-span {
    color: #959595;
    margin-right: 26px;
    float: none;
}
.coupon-money {
    color: #E60012;
    font-size: 1.3em;
    font-style: normal;
    margin-right: 10px;
}

.coupon-time {
    font-size: 1em;
    height: 2.4em;
    line-height: 2.4em;
    text-align: center;
    float: left;
    width: 50%;
    display: inline-block;
}
.coupon-input, .coupon-time ,.note{
    float: left;display: inline-block;
    text-align: left;
    width: 50%;
}
.coupon-input select {
     float: left;display: inline-block;
    text-align: left;
    width: 100%;
    
}
.tc{ text-align: center;}
.coupon-input input {
    border: 1px solid #C1C1C1;
    color: #535353;
    font-size: 1em;
    height: 2.0em;
    padding-left: 5px;
    display: inline-block;
    width: 100%;
}
.hotellistbg {
      background-color: #E9E9EB;
}
.hotellist li 
{
    margin: 0px auto;
    width: 90%;
    padding: 10px 8px 2px;
    background: #fff;
    border:1px solid #dbdbdd;background-color:#fff;
	box-shadow:1px 1px 2px #e3e3e5, -1px -1px 2px #e3e3e5;
    margin-top: 10px;
}
.hotellist li .hotelimg {
    width: 85px;height: 76px; margin: 5px 10px 5px 0px; max-width: 85px;position: relative
}
.hotellist li h3{
    display: block;
    font-size: 16px;
    font-weight: bold;
    margin: 0px 0px;
    line-height: 24px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.hotellist li p {
    color: #666;font-size: 14px;margin-bottom: 3px;
}

.hotellist li ul {
    clear: both;
    height: 30px;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 9px;
    width: 99%;
       border-top: 1px solid #E7EAEB;
}

.hotellist li ul li 
{
    border: none;
    border-right: 1px solid #E8EAEB;
    display: inline-block;
    float: left;
    height: 30px;
    text-align: center;
    width: 33%;
    padding: 0px;
    margin: 0px;
    box-shadow: none;   
}
.hotellist li ul li a {
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 23px 24px;
    color: #36B35F;
    display: inline-block;
    font-size: 13px;
    height: 24px;
    line-height: 24px;
    padding-left: 26px;
}
.hotellist li ul li  a.order {
    background-image: url("../images/icon_weixin.png");
}
.hotellist li ul li  a.gps {
    background-image: url("../images/icon_gps2.png");
}
.hotellist li ul li a.reality {
    background-image: url("../images/icon_reality.png");
}
.clear{clear: both}
.defaultlist {
    width:100%;
	display:-webkit-box;
	display:-moz-box;
	display:box;
    margin-bottom: 0px;
}
.defaultlist li {
   	height:100px;
	position:relative;
	margin:0 0 5px 5px;
	-webkit-box-flex:1;
	-moz-box-flex:1;
	box-flex:1;
}
.defaultlist h3 {
	position:absolute;
	left:10px;
	bottom:10px;
	width:40px;
	font:500 18px/1 hei;
	color:#fff;
}

.f {
	background-color:#36A1DB;
}
.h {
	background-color:#81B637;
}
.a {
	background-color:#E57E22;
}
.p {
	background-color:#7E54DC;
}
.t {
	background-color:#678FCF;
}
.m {
	background-color:#E3B607;
}
figure {
	position:absolute;
	z-index:9;
	top:15px;
	left:50%;
	margin-left:-20px;
	width:68px;
	height:62px;
	background:url(../images/defaultimg.png) no-repeat 0 0;
	background-size:155px 192px;
}

.jp_icon {
	background-position:0px 0px;
}
.jd_icon {
	background-position:-75px 0;
}
.hb_icon {
	background-position:0 -60px;
}
.mp_icon {
	width:78px;
	background-position:-79px -60px;
}
.hcp_icon {
	background-position:0 -132px;
}
.wdxc_icon {
	background-position:-79px -130px;
}
.orderlist {
    width: 95%;margin: 0px auto;
}
.orderlist li 
{
  list-style: none;
  border-bottom: 1px dashed #CBCFCF;
    padding: 8px 0px;
}
.orderlist li em ,.userbox .userinfo em{
    color: #999;
    font-size: 13px;
    font-style: normal;
}
.inputtxt{background:#F9F9F9;padding: 8px 0px 8px 4px}
.red{color: red}

.giftlist{ margin-top: 10px;}
.giftlist li {
    float: left;
    margin: 0px 0px 8px 5px;
    min-width: 150px;
    max-width: 230px;
    width: 47.4%;
       border: 1px solid #D9D9D9 ;
}
.giftlist li img {
    height: 100%;
    width: 100%;

}
.giftlist li .desc {
 background: none repeat scroll 0 0 #F4F4F4;
  border-top: 1px solid #D9D9D9 ;
    display: block;
    padding: 5px 0px 0px 5px;
    line-height: 20px;
    min-width: 146px;
    text-overflow: ellipsis;
    white-space:nowrap;
}
.giftlist li .desc a {
    width: 100%;overflow: hidden;
    white-space:nowrap;
}
.giftlist li .desc em {
    color: #EB6100;
    font-size: 13px;
    font-style: normal;
}

.mb-list {
    margin: 0 auto;
    overflow: hidden;
    padding: 18px 5px 0 10px;
    text-align: center;
}
.mb-list a {
    background: url("../images/memberbg.png") no-repeat scroll 0 0 transparent;
    background-size: contain;
    float: left;
    font-size: 12px;
    height: 18px;
    margin: 0 10px 5px 0;
    padding-top: 68px;
    position: relative;
    width: 65px;
}

.mb-list a:after 
{
   
    background-repeat: no-repeat;
    content: " ";
    height: 40px;
    left: 18px;
    position: absolute;
    top: 15px;
    width: 40px;
}
.mb-icon1:after {
    background: url("../images/memberdefault.png") no-repeat scroll 0 0 transparent;
   
}
.mb-icon2:after {
background: url("../images/memberdefault.png") no-repeat scroll -45px 0 transparent;  
}
.mb-icon3:after {
background: url("../images/memberdefault.png") no-repeat scroll -0px -40px transparent;  
}
.mb-icon4:after {
background: url("../images/memberdefault.png") no-repeat scroll -42px -40px transparent;  
}
.mb-icon5:after {
background: url("../images/memberdefault.png") no-repeat scroll -0px -85px transparent;  
}
.mb-icon6:after {
background: url("../images/memberdefault.png") no-repeat scroll -42px -85px transparent;  
}
.mb-icon7:after 
{
    left: 14px;
background: url("../images/memberdefault.png") no-repeat scroll 2px -125px transparent;  
}
.mb-icon8:after {
background: url("../images/memberdefault.png") no-repeat scroll -38px -125px transparent;  
}
.userbox {
    margin: 18px 10px 0px;
     border-bottom: 1px dashed #CBCFCF;
}
.userbox img {
    width: 80px;height: 80px;float: left;
    margin-bottom: 10px;
}
.userbox .userinfo {
    float: left;
    margin-left: 7px;
}

.activitylist {
    padding: 10px;
    
}
.activitylist li
{
    margin-top: 10px;
     border-bottom: 1px dashed #CBCFCF;
}
.activitylist li p {
    margin-top: 10px;
}
.citybox {
    margin: 10px 0px;
}
.citybox span{ width: 32%;text-align: center;display: inline-block;}
.page {
    color: #000000;
    text-align: center;
    height: auto;
    margin: 10px auto 0px;
    padding: 5px 10px;
    font-size: 13px;
    width: 300px;
}
.page a, .page a:link, .page a:visited {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DEDFDE;
    color: #036CB4;
    line-height: 25px;
    padding: 2px 6px;
    text-decoration: none;
}
.page a:hover, .currentpage {
    background: none repeat scroll 0 0 #6BC235;
    border: 1px solid #F5F5F5;
    color: #FFFFFF;
    padding: 2px 6px;
    text-decoration: none;
}

.hotel-comment-list {
    clear: both;
    height: 100%;
    margin: 15px;
    overflow: hidden;
}
.hotel-user-comment {
    height: 100%;
    margin-bottom: 10px;
    overflow: hidden;
    width: 80%;
}

.hotel-user {
    color: #878787;
    display: inline-block;
    font-size: 0.8em;
}

.hotel-user-comment-cotent {
    background-color: #DCF4E7;
    clear: both;
    float: left;
    height: 100%;
    margin-top: 10px;
    overflow: hidden;
    padding: 15px;
    width: 75%;
}

.hotel-user-comment-cotent p {
    color: #626262;
    font-size: 0.9em;
    margin-bottom: 5px;
}
.hotel-user-comment-cotent span {
    color: #9D9D9D;
    font-size: 0.7em;
}

.hotel-apply-user-comment {
    float: right;
}

.hotel-apply-comment .hotel-user-comment-cotent {
    background-color: #FFEBCC;
    float: right;
}

.hotel-apply-div {
    float: right;
}
.newstitle{ text-align: center;padding:15px;font-size: 16px;border-bottom: 1px dashed #DADADA;color: #EB6100; }
.unhappy{border:1px solid #ff0000  }
.unhappyMessage{color:red}

input[type="radio"], input[type="checkbox"] {
    line-height: normal;
    margin: 0px 0 0;
}