.logo {
    background-image: url('../logo.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 150px;
}

.container {
    width: 960px;
}

.header {
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 25px;
    background-color: #3471b0;
    color: #cde6ff;
}

.header h1 {
    font-size: 48px;
}

div#photo {
    width: 100%;
    height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
}

h2#name {
    text-align: center;
}

ul.nav {
    margin-bottom: 10px;
}
